* {
  box-sizing: border-box;
  }


input[type=text], input[type=number], select, textarea {
  width: 100%;
  padding: 12px;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  margin-top: 6px;
  margin-bottom: 16px;
  resize: vertical;
  font-size: 16px;
}

input[type=submit] {
  background-color: white;
  color: black;
  padding: 12px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

input[type=submit]:hover {
  background-color: white;
}

.titulo {
  color:white;
  font-size: 16px;
  font-weight: bold;
  display: block;
  margin: 20px 0 10px 0;
}

.container {

  padding: 0px;
    display: flex;
    background: url(https://w.wallhaven.cc/full/45/wallhaven-45er34.jpg) no-repeat center;
    height: 100px;
    min-height: 700px;
    background-size: cover;
    background-attachment: fixed;
    font-family: 'arial';
    font-size: 20px;
  
   position:center;

}

::placeholder {
  font-size: 15px;
}
